<%# add navigation links to this file %>
<!-- Right Nav Section -->
<ul class="right">
  <li class="active"><a href="#">Sign In</a></li>
</ul>

<!-- Left Nav Section -->
<ul class="left">
  <li>
    <%= link_to 'Posts', posts_path %>
  </li>
  <li>
    <%= link_to 'Users', users_path %>
  </li>
</ul>
</section>
